{% extends 'layouts/base.html' %}

{% block content %}
<main class="container p-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Tareas App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro officiis nihil sint, fugit unde accusantium! Facilis cum doloremque eos possimus error debitis repudiandae porro labore at nihil dolorum quaerat voluptas quod cumque, quas rem ratione ab consequuntur inventore delectus velit ipsam exercitationem! Sint excepturi veniam reiciendis tenetur facere magni numquam.</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary m-1" href="{% url 'signin' %}">Iniciar sesión</a>
            <a class="btn btn-outline-success m-1" href="{% url 'signup' %}">Registrarse</a>
        </div>
    </section>
</main>


{% endblock %}