{% extends 'layouts/base.html' %}

{% block content %}
{{ error }}
{{task.title}}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<form action="{% url 'complete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Complete</button>
</form>

<form action="{% url 'delete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Delete</button>
</form>

{% endblock %}