{% extends 'layouts/base.html' %}

{% block content %}

<main>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-3">Tasks pending</h1>
            <ul class="list-group">
                {% for task in tasks %}
                <a class="list-group-item" href="{% url 'task_detail' task.id %}">
                    {% if task.important %}
                    <strong>{{ task.title }}</strong>⚠️</p>
                    {% else %}
                    <p class="fw-bold">{{ task.title }}</p>
                    {% endif %}
                    <p>{{ task.description }}</p>
                    <span>{{ task.created_at }}</span>
                </a>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-end mt-1">
                <a class="btn btn-secondary" href="{% url 'tasks_completed' %}">See completed tasks</a>
                <a class="btn btn-primary ms-1" href="{% url 'create_task' %}">New Task</a>
            </div>
        </div>
    </div>
</main>



{% endblock %}